
<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<h1>Produtos</h1>

<table>
  <thead>
    <tr>
	<td>&emsp;</td>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Nome</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Tipo</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Estado</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Descrição</th>
	<td>&emsp;</td>
	<td>&emsp;</td>
      <th>Doador</th>
      <thcolspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.avatar.url(:thumb) %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= product.nome %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= product.tipo %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= product.estado %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= product.descricao %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= product.doador %></td>
	<td>&emsp;</td>
	<td>&emsp;</td>
	<td>&emsp;</td>
	<td>&emsp;</td>
        <td><%= link_to 'Mostrar', product %></td>
	<td>&emsp;</td>

	<% if user_signed_in? && product.doador != current_user.nome %>
	   <td><%= link_to 'EUQUERO', eu_quero_index_path %></td>
	<% end %>
	<% if user_signed_in? && product.doador == current_user.nome %>
          <td><%= link_to 'Editar', edit_product_path(product) %></td>
	  <td>&emsp;</td>
          <td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza que quer excluir?' } %></td>
<td>&emsp;</td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_product_path %>



